.LedgerPageWrapper {
  position: absolute;
  height: 100% !important;
  width: 100%;
  background-image: url(../img/financial.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.LedgerPageWrapper .ledgerWrapper {
  width: 100%;
  height: calc(100% - 50px);
  padding-left: 200px;
}
