.HeaderWrapper {
  width: 100%;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  width: 200px;
  height: 100%;
  float: left;
  padding: 10px;
  text-align: center;
}

.HeaderWrapper .logo a {
  color: white;
  text-decoration: none;
}

.HeaderWrapper .menuUl {
  width: calc(100% - 200px - 400px);
  height: 100%;
  list-style: none;
  float: right;
  margin: 0px;
  padding: 10px;
}

.HeaderWrapper .menuLi {
  width: 100px;
  height: 100%;
  color: white;
  line-height: 30px;
  text-align: center;
}

.HeaderWrapper .menuLi a {
  color: white;
  text-decoration: none;
}

.headerRight {
  width: 400px;
  height: 100%;
  float: right;
  padding: 10px;
  text-align: center;
}

.headerRight .headerBtn .loginBtn {
  background: none;
  width: 100px;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 10px;
}

.headerRight .headerBtn .logoutBtn {
  background: none;
  width: 100px;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 10px;
}
.headerRight .userInfo {
  color: white;
  padding-right: 10px;
}
